<!-- 328/Week2/diner/views/pets-page.html     -->

<include href="views/header.html"></include>

<body>
    <div class="container">
        <h1>Welcome to Diner App</h1>
        <h2>Serving the best burgers in Auburn!</h2>

        <img src="images/diner_pic.jpg" alt="Diner Picture"><br><br>

        <h3>View Menus</h3>
        <a href="menus/breakfast">Breakfast</a><br>
        <a href="menus/lunch">Lunch</a><br>
        <a href="menus/dinner">Dinner</a><br><br>
        <h3>Orders 1 and 2</h3>
        <a href="order1">Order 1</a><br>
        <a href="order2">Order 2</a><br><br>

        <a type="button" class="btn btn-primary"
           href="order1">Place an Order</a>
    </div>
</body>
</html>
